@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Open+Sans:wght@300&family=Yellowtail&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #cdcdcd;
  scroll-behavior: smooth;
}

header {
  background: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.logo_main {
  font-size: 60px;
  font-family: "Cambo", serif;
  color: rgb(255, 255, 255);
  line-height: 0.5;
  text-align: center;
}

.logo_slogen {
  font-size: 16px;
  font-family: "Arial";
  color: rgba(235, 235, 235, 0.4);
  line-height: 48px;
  text-align: center;
}

.search_text {
  background-color: transparent;
  color: rgb(107, 107, 107);
  line-height: 2.182;
  font-family: "Arial";
  font-size: 11px;
  text-align: left;
  width: 255px;
  padding-left: 0.7rem;
  border: 1px solid #6b6b6b;
}

.btn_go {
  font-size: 13px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.385;
  text-align: center;
  padding: 0.3rem 1rem;
  background: #3e3e3e;
  border: none;
  border-radius: 0.5rem;
}

.banner {
  background-image: url("./src/img/design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner_text {
  margin: 0 auto;
  font-family: "Cambo", serif;
  color: rgb(255, 255, 255);
  line-height: 1.272;
  text-shadow: 0.5px 0.866px 0px rgba(90, 185, 218, 0.2);
}

.main_banner_text {
  background-color: rgba(0, 9, 17, 0.831);
  padding: 0.5% 2%;
  font-size: 3vw;
  margin-left: 43%;
}

.customer_banner_text {
  background-color: rgba(7, 43, 76, 0.831);
  font-size: 2vw;
  font-family: "Cambo", serif;
  text-shadow: 0.5px 0.866px 0px rgba(90, 185, 218, 0.2);
  padding: 0% 1%;
  line-height: 1.908;
  margin-left: 45%;
}

.content {
  position: relative;
  background-color: #cdcdcd;
  min-height: 80vh;
}

.box_container {
  position: relative;
  display: flex;
  justify-content: center;
  top: -12rem;
}

.boxes {
  background: #f5f5f5;
  width: 15%;
  color: #222222;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 5rem 0.5rem 0 0.5rem;
  height: 40vh;
  padding-top: 2rem;
}

.box_title {
  font-size: 30px;
  font-family: "Yellowtail", cursive;
  color: rgb(49, 49, 49);
  line-height: 0.8;
}

.box_type {
  font-size: 70px;
  font-family: "Tahoma";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 0.343;
  padding-top: 2rem;
}

.box_short_text {
  color: #2fb2eb;
}

.box_1,
.box_3 {
  border-radius: 1.5rem 0;
}

.box_1::before,
.box_3::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 11%;
  border-radius: 1.5rem 0;
  transform: rotateX(180deg);
  bottom: -13%;
  background: linear-gradient(
    0deg,
    rgba(213, 213, 213, 0.8407738095238095) 0%,
    rgba(206, 206, 206, 0.8211659663865546) 45%,
    rgb(208, 208, 208) 79%
  );
}

.box_1:hover::before,
.box_2:hover::before,
.box_3:hover::before,
.box_4:hover::before {
  background: linear-gradient(
    0deg,
    rgba(182, 182, 182, 0.6839110644257703) 0%,
    rgba(208, 208, 208, 0.4766281512605042) 90%
  );
}

.box_2,
.box_4 {
  border-radius: 0 1.5rem;
}

.box_2::before,
.box_4::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 11%;
  bottom: -13%;
  background: linear-gradient(
    0deg,
    rgba(213, 213, 213, 0.8407738095238095) 0%,
    rgba(206, 206, 206, 0.8211659663865546) 45%,
    rgb(208, 208, 208) 79%
  );
  border-radius: 0 1.5rem;
  transform: rotateX(180deg);
}

.box_text {
  font-family: Arial;
  padding: 0 2rem;
  margin: -2rem auto -2rem auto;
}

.box_btn {
  background: #347599;
  border: none;
  border-radius: 3rem;
  font-size: 20px;
  font-family: "Cambo", serif;
  line-height: 1.2;
  text-align: center;
  width: 103px;
  height: 35px;
  margin: 0 auto;
  color: #ffffff;
}

.boxes:hover {
  background: #373737;
}

.boxes:hover .box_btn {
  background: #e1e1e1;
  color: rgb(50, 50, 50);
}

.boxes:hover .box_type,
.boxes:hover .box_title {
  color: white;
}

.boxes:hover .box_text {
  color: #727272;
}

.content_bottom_box {
  position: absolute;
  z-index: 1;
  width: 63%;
  left: 18.5%;
  top: 41%;
  background: rgb(182, 182, 182);
  background: radial-gradient(
    circle,
    rgba(182, 182, 182, 1) 0%,
    rgba(182, 182, 182, 1) 35%,
    rgba(182, 182, 182, 1) 100%
  );
  height: 10rem;
  border-radius: 1.5rem;
}

.content_bottom_text {
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 58%;
  left: 34%;
  text-align: left;
  font-size: 22px;
  top: 25%;
  color: #ffffff;
  line-height: 1.364;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  letter-spacing: 1.5px;
}

.contacts {
  display: flex;
  top: 1rem;
  margin: 3rem auto;
  position: relative;
  width: 63%;
}

.contacts img {
  width: 3rem;
  height: 3rem;
  margin: 0 0.3rem;
}

.footer {
  background: #1c1c1c;
  height: 18vh;
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }
  .box_container {
    top: -8rem;
    flex-direction: column;
  }
  .boxes {
    width: 80%;
    margin: 0 auto 1.5rem;
    height: 50vh;
  }
  .content_bottom_box {
    position: relative;
    width: 80%;
    margin: -4rem auto 2rem auto;
    padding: 1rem;
    left: 0;
    height: max-content;
  }
  .contacts {
    position: relative;
    margin-left: 10%;
    top: 0;
  }
  .content_bottom_text {
    width: 100%;
    left: 0;
    font-size: 2vh;
    top: 0;
  }
  .banner {
    background-size: 100% 80%;
    margin-top: -4.7rem;
  }
  .main_banner_text {
    padding: 2% 8%;
    font-size: 8vw;
    margin-left: 27%;
  }
  .customer_banner_text {
    font-size: 6vw;
    margin-left: 36%;
    padding: 1% 1%;
  }
  .box_type {
    padding-top: 0;
  }
  .contacts img {
    width: 2rem;
    height: 2rem;
  }
  .box_1::before,
  .box_2::before,
  .box_3::before,
  .box_4::before {
    background: none;
  }
  .box_1:hover::before,
  .box_2:hover::before,
  .box_3:hover::before,
  .box_4:hover::before {
    background: none;
  }
}
